body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: cornflowerblue;
  animation: bgcolor 10s infinite;
}

.ParentContainer {
  position: relative;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2em;
}

.gelo {
  width: 15%; 
  height: 15%;
  border-radius: 50%;
}

.gelo2 {
  height: 91%;
  width: 15%;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 42%;
  opacity: 100%;
  animation: gelo-animation 7s infinite;
}

img {
  width: 20%; height: 20%;
  border-radius: 10%;
  margin: 0.5%;
}

/*button {
  width: 15%;
  border-radius: 8px;
  border: 1px solid;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 2%;
  font-size: large;
}*/

.hoverimage1 {
  position: absolute;
  height: 33%;
  width: 16.9%;
  bottom: 0%;
  left: 23.5%;
  animation: hv1 7s infinite;
}

.hoverimage2 {
  position: absolute;
  height: 38.5%;
  width: 16.9%;
  bottom: 0%;
  left: 41.1%;
  animation: hv2 7s infinite;
}

.hoverimage3 {
  position: absolute;
  height: 32.5%;
  width: 16.5%;
  bottom: 0%;
  left: 59%;
  animation: hv3 7s infinite;
}

@keyframes gelo-animation {
  0%  {opacity: 100%;}
  50% {opacity: 0%;}
  100% {opcity: 100%;}
}

@keyframes hv1 {
  0%  {opacity: 100%;}
  50% {opacity: 0%;}
  100% {opcity: 100%;}
}

@keyframes hv2 {
  0%  {opacity: 100%;}
  50% {opacity: 0%;}
  100% {opcity: 100%;}
}

@keyframes hv3 {
  0%  {opacity: 100%;}
  50% {opacity: 0%;}
  100% {opcity: 100%;}
}

@keyframes bgcolor {
  0% {background-color: plum;}
  25% {background-color: aliceblue;}
  50% {background-color: palegreen;}
  75% {background-color: coral;}
  100% {background-color: plum;}
}